@model TP03MainProj.Models.Questions

<div class="quiz-question" id="question-@Model.QuestionNum">
    <h4>@Model.Question</h4>
    <ul>
        @foreach (var option in Model.Options)
        {
            <li>
                <button class="btn btn-option" data-correct="@option.Equals(Model.CorrectAnswer)">
                    @Html.Encode(option)
                </button>
            </li>
        }
    </ul>
</div>