@model TP03MainProj.QuestionModel

<div class="question">@Model.Question</div>
<img src="@Model.ImageUrl" class="quiz-image" />
<div class="options-container">
    @foreach (var option in Model.Options)
    {
        <button class="option" data-correct-answer="@Model.CorrectAnswer">@option</button>
    }
</div>