

/*/* new timeline */

.site-timeline-content{
  position: relative;
}

.de-timeline-article .site-center-line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 5%;
  left: 50%;
  margin-left: -2px;
  bottom: 5%;
}
.year__ {
  display: inline-block;
}
.de-timeline-article.odd .site-center-line {
    background: #0026ff;
}
.de-timeline-article.even .site-center-line {
  background: #FECE58;
}
.de-timeline-article {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-top: -2%;
}
.de-timeline-article .content-left-container,
.de-timeline-article .content-right-container {
  max-width: 47%;
  width: 100%;
  margin-bottom: 80px;

}
.de-timeline-article .content-left,
.de-timeline-article .content-right {
  position: relative;
  width: auto;
  padding: 60px 25px 20px;
}
.de-timeline-title {
  margin-top: 0;
}
.de-timeline-article p {
  padding: 0;
  font-size: 15px;
  position: relative;
}
.de-timeline-article .content-left-container {
  float: left;
}
h4.de-timeline-year {
  margin: 0;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 21px;
  color: #fff;
}
.de-timeline-article.even h4.de-timeline-year{
  color:var(--title-font-color);
}
.de-timeline-article.odd .year__ {
  float: left;
}
.de-timeline-article.odd h4.de-timeline-year {
  background: #0026ff;
}
.de-timeline-article.even .year__ {
  float: right;
}
.de-timeline-article.even h4.de-timeline-year {
    background: #FECE58;
}
.de-timeline-article .d-line {
  position: absolute;
  width: 55px;
  height: 2px;
  top: 20px;
  margin-left: 0;
}
.de-timeline-article.odd .d-line {
    left: 50%;
    background: #0026ff;
}
.de-timeline-article.even .d-line {
    right: 50%;
    background: #FECE58;
}
.de-timeline-article .owl-carousel {
  position: relative;
  width: auto;
  padding: 60px 25px 20px;
}
.de-timeline-article .content-right-container {
  float: right;
}
.de-timeline-article .meta-dot {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  border-radius: 100%;
}
.de-timeline-article.odd .meta-dot {
    background: #0026ff;
}
.de-timeline-article.even .meta-dot {
    background: #FECE58;
}
@media only screen and (max-width: 830px) {
  .de-timeline-article .site-center-line {
    margin-left: 0;
    top: 30px;
    left: 30px;
  }
  .de-timeline-article .meta-dot {
    margin-left: 0;
    left: 20px;
  }
  .de-timeline-article .content-left-container,
  .de-timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 50px;
  }
  .de-timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .de-timeline-article .content-left,
  .de-timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .de-timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .de-timeline-article .content-right:before {
    display: none;
  }  
  h4.de-timeline-year {
    position: absolute;
    top:0;
    left: 60px;
  }
  .de-timeline-article.odd .d-line {
    left: 30px;
  }
  .de-timeline-article.even .d-line {
    right: 0;
    left: 30px;
  }
  .de-timeline-article.odd .content-left-container{
    padding-top: 20px;
  }
  .de-timeline-article.even .content-left-container{
    padding-top: 50px;
  }
  .de-timeline-article.odd .content-left-container .owl-carousel{
    padding: 60px 20px 0 20px;
  }
   .de-timeline-article.even .content-right-container .owl-carousel{
    padding: 0px 20px 60px 20px;
  }
}



.v-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #ffffff;
}


.d-flex-2 {
  display: flex;
  align-items: center;
}

.timeline-area {
  padding: 80px 0;
}

.all-timelines {
  position: relative;
}

.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 20px;
}

.single-timeline {
  margin-bottom: 22px;
}

.timeline-blank {
  width: 50%;
}

.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.timeline-text h6 {
  color: #f0f1f2;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}

.timeline-text span {
  color: #f0f1f2;
  display: block;
  width: 100%;
}

.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}

.t-circle {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #efa22f;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.single-timeline:nth-child(even) .t-circle {
  right: -6px;
  left: unset;
}

.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }

  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }

  .single-timeline:nth-child(2n) .t-circle {
    left: -6px;
    right: unset;
  }

  .timeline-blank {
    display: none;
  }

  .timeline-text {
    width: 100%;
  }

  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}

@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}

