.btn-capsule {
    word-spacing: 0.25em;
    background-color: #d48810;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-capsule:hover {
        background-color: #ffd700;
        color: #000;
    }

.full-width-container {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

#welcome-education-text h1 {
    word-spacing: 0.25em;
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 将背景放在内容之后 */
    display: flex;
}

#welcome-education-text {
    z-index: 3; /* 确保在背景之上 */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #welcome-education-text h1 {
        color: white;
    }

.background-images div {
    flex: 1;
    background-size: cover;
    background-position: center;
}

#welcome-section.dark-overlay {
    position: relative;
}

#welcome-section {
    width: 99vw; /* 视口宽度 */
    height: 100vh; /* 视口高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    #welcome-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%, transparent 100%);
        z-index: 2;
    }

#welcome-education-text {
    text-align: center;
}

#welcome-section.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Centered content */
#education-content {
    display: none;
    position: absolute;
    top: 10%; /* Adjusted for footer */
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    height: 80vh; /* Adjusted for footer */
    box-sizing: border-box;
}

/* Adjustments for laptop screens */
@media (min-width: 769px) and (max-width: 1200px) {
    #education-content h2 {
        font-size: 1.5rem; /* Adjust font size */
    }
    .overlay-btn span {
        font-size: 1rem; /* Adjust button font size */
    }
    .book {
        width: 20%; /* Adjust width */
        padding-top: 30%; /* Adjust padding-top to maintain aspect ratio */
    }

    .overlay-btn span {
        font-size: 1rem; /* Adjust button font size */
    }

    #education-content {
        height: auto; /* 自适应高度 */
        max-height: 70vh; /* 限制最大高度 */
        overflow-y: auto; /* 启用垂直方向的溢出滚动 */
        width: 75%; /* 在小屏幕下设置更小的宽度 */
        position: absolute;
        top: 50%; /* Center vertically */
        left: 45%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Offset to truly center the element */
        margin: 0; /* Remove default margin */
        padding: 20px; /* Add padding if needed */
        box-sizing: border-box; /* Ensure padding is included in the width and height */
    }

}

@media (min-width: 1201px) {
    .overlay-btn span {
        font-size: 1.25rem; /* Adjust button font size for larger screens */
    }
}

@media (min-width: 1300px) {
    .overlay-btn span {
        font-size: 1.25rem; /* Adjust button font size for larger screens */
    }
}
@media (max-width: 768px) {
    #education-content {
        height: auto; /* 自适应高度 */
        max-height: 80vh; /* 限制最大高度 */
        overflow-y: auto; /* 启用垂直方向的溢出滚动 */
        width: 75%; /* 在小屏幕下设置更小的宽度 */
        position: relative;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .overlay-btn span {
        font-size: 26px; /* Adjust font size for smaller screens */
    }
}

#education-content .nav-link {
    text-align: center;
}

#exit-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
}

    #exit-button:before,
    #exit-button:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 30px;
        background-color: #000000;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #exit-button:before {
        transform: rotate(45deg);
    }

    #exit-button:after {
        transform: rotate(-45deg);
    }

.bg-img {
    position: relative;
    background-size: cover;
    height: 200px; /* Adjust the height as needed */
    width: 20%; /* Or adjust width based on your layout requirements */
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.book {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 15%; /* Ensures that the width fills the parent */
    height: auto; /* Important for maintaining aspect ratio without directly setting height */
    padding-top: 56.25%; /* This sets an aspect ratio of 16:9 */
    margin-bottom: 15px; /* Adds space between rows */
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

    .book:hover {
        transform: translateX(-30%) scale(1.25);
    }

    .book .overlay-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
        color: white;
        text-align: center; /* Ensures text is centered */
        opacity: 1; /* Make the text always visible */
        transition: background-color 0.3s ease, color 0.3s ease;
        padding: 10px; /* Adds padding to prevent text from touching the edges */
        box-sizing: border-box; /* Includes padding in height/width calculations */
    }

    .book:hover .overlay-btn {
        background-color: rgba(0, 0, 0, 0.7); /* Darker overlay on hover */
        color: white;
    }

.img1 {
    background-image: url('/Content/Customer/images/study-case/3.jpg');
}

.img2 {
    background-image: url('/Content/Customer/images/study-case/4.jpg');
}

.img3 {
    background-image: url('/Content/Customer/images/study-case/5.jpg');
}

.img4 {
    background-image: url('/Content/Customer/images/study-case/6.jpg');
}

.img5 {
    background-image: url('/Content/Customer/images/study-case/7.jpg');
}

/* 在小屏幕下设置 .book 的宽度和 padding-top */
@media (max-width: 768px) {
    .book {
        width: 50%;
        padding-top: 75%;
    }
}

/* 在非常小的屏幕下进一步调整 .book 的宽度和 padding-top */
@media (max-width: 480px) {
    .book {
        width: 80%;
        padding-top: 120%;
    }
}

/* 调整按钮大小以避免溢出 */
@media (max-width: 768px) {
    .overlay-btn {
        font-size: 14px;
        padding: 5px; /* 调整按钮的 padding */
    }
}

/* 对非常小的屏幕进一步调整按钮大小 */
@media (max-width: 480px) {
    .overlay-btn {
        font-size: 12px;
        padding: 3px; /* 进一步调整按钮的 padding */
    }
}
