.jarallax .container {
    padding: 2rem 1rem;
}


.jarallax {
    height: 600px; 
}



@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; 
    }

    .btn {
        width: 100%; 
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.25rem; 
    }

    .slider-teaser,
    .btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        width: 100%;
        height: 1200px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .carousel-caption .container {
        max-width: 80%; 
    }

    .carousel-caption .row {
        justify-content: start; 
    }
}


@media (max-width: 1023px) {
    .carousel-caption {
        left: 0;
        right: 0;
        text-align: left; 
        bottom: 10%; 
        width: 90%; 
        padding: 20px;
        transform: translateX(-50%); 
    }
}

    @media (max-width: 1200px) {
        .carousel-item img {
            max-height: 700px;
        }
    }

    @media (max-width: 992px) {
        .carousel-item img {
            max-height: 600px;
        }
    }

    @media (max-width: 768px) {
        .carousel-item img {
            max-height: 500px;
        }
    }

    @media (max-width: 576px) {
        .carousel-item img {
            max-height: 400px;
        }
    }
/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
    .col-12.p-5 {
        padding: 20px; /* 调整为较小的内边距 */
    }

    .mission-statement {
        font-size: 1.25rem; /* 调整字体大小 */
        line-height: 1.4; /* 增加行间距 */
    }
}

/* Smaller than 426px */
@media (max-width: 426px) {
    .col-12.p-5 {
        padding: 10px; /* 进一步减少内边距 */
    }

    .mission-statement {
        font-size: 1.1rem; /* 根据需要进一步减小字体大小 */
        line-height: 1.3; /* 适当调整行间距 */
    }
}
