.btn {
    width: 150px;
    height: 45px;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
}

h1 {
    font-size: 1.75rem; /* Large screens */
    line-height: 1.2;
}

footer .nav-item a:hover {
    text-decoration: underline;
}

.gradient-bg {
    background: linear-gradient(to right, #FFA500, #FF8C00, #FF7F50, #FF4500);
}

#header_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #FF7F50;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
}

    #header_sidebar.show {
        transform: translateX(0);
    }

.header_navbar-toggler {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    position: relative;
    z-index: 1051; /* Ensure it remains on top */
}

.header_navbar-toggler-icon {
    font-size: 24px;
}

.nav-link {
    color: white;
}

.close-sidebar {
    margin-right: 1rem;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.close-sidebar-icon {
    font-size: 24px;
}

.custom-header {
    height: auto;
}

@media (max-width: 767px) {
    .custom-header {
        height: 70px; /* Modify to your desired height */
        display: flex;
        align-items: center;
        justify-content: space-between; /* Ensure space between elements */
        position: relative;
    }

    .d-md-none {
        display: flex !important;
        justify-content: space-between;
        align-items: center; /* Center items vertically */
        width: 100%;
    }

    .logo-container {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 15px; /* Add desired margin to the right */
    }

    .logo-mobile {
        width: 40px; /* Adjust the size as needed */
        height: auto;
    }
}

@media (min-width: 768px) {
    #header_sidebar {
        position: static;
        transform: none;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
    }

    .header_navbar-toggler {
        display: none;
    }

    .d-md-none {
        display: none !important;
    }
}
