:root {
  --primary-color: #3173dd;
  --primary-color-rgb: 49, 115, 221;
  --secondary-color: #FECE58;
  --secondary-color-rgb: 254, 206, 88;
  --tertiary-color: #e615af;
  --tertiary-color-rgb: rgba(230, 21, 175, 1.0);
}