@model string


<div class="bg-black text-light mt-5 pt-5" id="china-migration">
    <div class="container text-center pb-5 pt-5">
        <div class="display-3 fw-bold">Migration Stories</div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top fixed-size-image" src="https://content.api.news/v3/images/bin/88836317e3e3bb88a988d2140b506ca3" alt="Chinese migrant Wei Liao loves living in Melbourne. Picture: Hamish Blair">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="fs-5 no-underline fw-bold" href="https://www.heraldsun.com.au/news/victoria/future-melbourne/melbourne-is-a-city-defined-by-its-immigrant-story/news-story/a95ffde76d702d6591caea6af4087347">Wei Liao's New Chapter in Melbourne</a>
                        </div>
                        <p class="card-text">Wei Liao's migration to Melbourne showcases a personal journey...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top fixed-size-image" src="https://liveinmelbourne.vic.gov.au/__data/assets/image/0005/1482692/Migrant-Lv-Changyun-and-family-walking-at-Williamstown-beach.jpg" alt="LV Changyun and family">
                    <div class="card-body">
                        <div class="card-title"><a class="fs-5 no-underline fw-bold" href="https://liveinmelbourne.vic.gov.au/discover/migrant-stories/lv-changyun">LV Changyun's Entrepreneurial Journey</a></div>
                        <p class="card-text">Seeking a serene lifestyle away from the hustle of China, LV Changyun found both personal satisfaction...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




