@model string

    <div class="bg-black text-light mt-5 pt-5" id="vietnam-migration">
        <div class="text-center pb-5  pt-5">
            <h1>Migration Stories</h1>
        </div>
        <div>
            <section class="no-top" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">
                    <div class="row g-4" style="background-size: cover; background-repeat: no-repeat;">
                        <div class="col-lg-4 col-md-6 mb10" style="background-size: cover; background-repeat: no-repeat;">
                            <div class="bloglist item" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="post-content" style="background-size: cover; background-repeat: no-repeat;">
                                    <div class="post-image" style="background-size: cover; background-repeat: no-repeat;">
                                        <div class="d-tagline" style="background-size: cover; background-repeat: no-repeat;">
                                        </div>
                                        <img alt="" src="https://insiderguides.com.au/wp-content/uploads/2020/03/Phoebe-Nguyen-3-1024x575.jpg" class="lazy">
                                    </div>
                                    <div class="post-text" style="background-size: cover; background-repeat: no-repeat;">
                                        <div class="d-date" style="background-size: cover; background-repeat: no-repeat;"></div>
                                        <h4><a class="text-light" href="https://insiderguides.com.au/la-trobe-college-student-story/ ">Phoebe Nguyen's Transformative Path</a></h4>
                                        <p class="text-light">From a linguist and artist in Ho Chi Minh City to a passionate nursing student in Melbourne, Phoebe Nguyen's migration story is a testament to pursuing passion and providing a brighter future for her child. Her journey underscores the supportive educational environment in Melbourne, facilitating not just academic success but also personal growth within a multicultural setting.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb10" style="background-size: cover; background-repeat: no-repeat;">
                            <div class="bloglist item" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="post-content" style="background-size: cover; background-repeat: no-repeat;">
                                    <div class="post-image" style="background-size: cover; background-repeat: no-repeat;">
                                        <div class="d-tagline" style="background-size: cover; background-repeat: no-repeat;">
                                        </div>
                                        <img alt="" src="https://study.unimelb.edu.au/__data/assets/image/0036/354897/Nhat-Duy-Dao-photo-1-1.jpg" class="lazy">
                                    </div>
                                    <div class="post-text" style="background-size: cover; background-repeat: no-repeat;">
                                        <div class="d-date" style="background-size: cover; background-repeat: no-repeat;"></div>
                                        <h4><a class="text-light" href="https://study.unimelb.edu.au/student-life/meet-our-students/meet-nhat-bachelor-of-commerce-student">Nhat Duy Do: From Vietnam to Academic Excellence in Melbourne</a></h4>
                                        <p class="text-light"> Nhat Duy Do's pursuit of a Bachelor of Commerce at The University of Melbourne illustrates his quest for knowledge in entrepreneurship and marketing. Awarded the Melbourne International Undergraduate Scholarship, Nhat's aspirations to contribute positively to society through sustainable business practices embody the spirit of innovation and multiculturalism that Melbourne fosters.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
