@model string

<div class="bg-black text-light mt-5 pt-5" id="vietnam-migration">
    <div class="container text-center pb-5 pt-5">
        <div class="display-3 fw-bold">Migration Stories</div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top fixed-size-image" src="https://insiderguides.com.au/wp-content/uploads/2020/03/Phoebe-Nguyen-3-1024x575.jpg" alt="Phoebe Nguyen">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="fs-5 no-underline fw-bold" href="https://insiderguides.com.au/la-trobe-college-student-story/">Phoebe Nguyen's Transformative Path</a>
                        </div>
                        <p class="card-text">Phoebe Nguyen's journey from Ho Chi Minh City to Melbourne showcases her evolution from linguist and artist to a dedicated nursing student, emphasizing Melbourne's role in her personal and professional growth.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top fixed-size-image" src="https://study.unimelb.edu.au/__data/assets/image/0036/354897/Nhat-Duy-Dao-photo-1-1.jpg" alt="Nhat Duy Do">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="fs-5 no-underline fw-bold" href="https://study.unimelb.edu.au/student-life/meet-our-students/meet-nhat-bachelor-of-commerce-student">Nhat Duy Do: From Vietnam to Academic Excellence in Melbourne</a>
                        </div>
                        <p class="card-text">Nhat Duy Do's academic journey in Melbourne highlights his achievements in commerce, supported by an international scholarship and driven by a commitment to sustainable business practices.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top fixed-size-image" src="https://www.refugeecouncil.org.au/wp-content/uploads/2011/04/Refugee-Tony-266x300.jpg" alt="LV Changyun and family">
                    <div class="card-body">
                        <div class="card-title"><a class="fs-5 no-underline fw-bold" href="https://www.refugeecouncil.org.au/tonys-story/">Melbourne's Beacon: Tony Le Nguyen's Immigrant Odyssey</a></div>
                        <p class="card-text">Meet Tony Le Nguyen: From refugee to community leader, his journey reflects resilience and enriches Melbourne's cultural tapestry. Learn how he overcame challenges to thrive in the performing arts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
